<form th:fragment="update" id="edit" action="/contact/edit" method="post">
    <input type="hidden" name="id" th:value="${contacts.id}">
    <div>
        <label for="firstName">First name</label>
        <input type="text" id="firstName" name="firstName" required th:value="${contacts.firstName}">
    </div>
    <div>
        <label for="lastName">Last name</label>
        <input type="text" id="lastName" name="lastName" required th:value="${contacts.lastName}">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required th:value="${contacts.email}">
    </div>
    <div>
        <label for="phone">Phone</label>
        <input type="text" id="phone" name="phone" required th:value="${contacts.phone}">
    </div>
    <button type="submit">Update</button>
</form>