<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact management</title>
</head>
<body>
<h1>Contact management</h1>

<div th:insert="~{fragments/сreate :: create}"></div>
<div th:insert="~{fragments/update :: update}"></div>
<!--
<form id="create" action="/contact/create" method="post">
    <div>
        <label for="newFirstName">First name</label>
        <input type="text" id="newFirstName" name="firstName" required th:value="${contacts.firstName}">
    </div>
    <div>
        <label for="newLastName">Last name</label>
        <input type="text" id="newLastName" name="lastName" required th:value="${contacts.lastName}">
    </div>
    <div>
        <label for="newEmail">Email</label>
        <input type="text" id="newEmail" name="email" required th:value="${contacts.email}">
    </div>
    <div>
        <label for="newPhone">Phone</label>
        <input type="text" id="newPhone" name="phone" required th:value="${contacts.phone}">
    </div>
    <button type="submit">Create</button>
</form>
<form id="edit" action="/contact/edit" method="post">
    <input type="hidden" name="id" th:value="${contacts.id}">
    <div>
        <label for="firstName">First name</label>
        <input type="text" id="firstName" name="firstName" required th:value="${contacts.firstName}">
    </div>
    <div>
        <label for="lastName">Last name</label>
        <input type="text" id="lastName" name="lastName" required th:value="${contacts.lastName}">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required th:value="${contacts.email}">
    </div>
    <div>
        <label for="phone">Phone</label>
        <input type="text" id="phone" name="phone" required th:value="${contacts.phone}">
    </div>
    <button type="submit">Update</button>
</form>
-->

</body>
</html>
